    <div class="container">
      <h2 class="highlight">Not Found</h2>
      <div id="four-oh-four">
        <p>No beards to be found here.</p>
        <a class="submit" href="/">Head back home</a>
      </div>
    </div>

