      <form action="/sighting" method="post">
        <h1>Beardspotter</h1>
        <h2 id="how-many">How many?</h2>
        <div id="beards" class="clearfix">
          <input type="hidden" id="latitude" name="location[latitude]" />
          <input type="hidden" id="longitude" name="location[longitude]" />
          <div id="one" class="beard first">
            <div class="icon">
              <div class="count"></div>
              <input type="hidden" name="beard[van-dyke]" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Van Dyke</div>
          </div>
          <div id="two" class="beard second">
            <div class="icon">
              <div class="overlay"></div>
              <div class="count"></div>
              <input type="hidden" name="beard[neck-beard]" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Neck Beard</div>
          </div>
          <div id="three" class="beard">
            <div class="icon">
              <div class="overlay"></div>
              <div class="count"></div>
              <input type="hidden" name="beard[pencil-stash]" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Pencil Stash</div>
          </div>
          <div id="four" class="beard first second">
            <div class="icon">
              <div class="overlay"></div>
              <div class="count"></div>
              <input type="hidden" name="pencil-stash" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Pencil Stash</div>
          </div>
          <div id="five" class="beard">
            <div class="icon">
              <div class="overlay"></div>
              <div class="count"></div>
              <input type="hidden" name="pencil-stash" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Pencil Stash</div>
          </div>
          <div id="six" class="beard second">
            <div class="icon">
              <div class="overlay"></div>
              <div class="count"></div>
              <input type="hidden" name="pencil-stash" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Pencil Stash</div>
          </div>
          <div id="seven" class="beard first">
            <div class="icon">
              <div class="overlay"></div>
              <div class="count"></div>
              <input type="hidden" name="pencil-stash" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Pencil Stash</div>
          </div>
          <div id="eight" class="beard second">
            <div class="icon">
              <div class="overlay"></div>
              <div class="count"></div>
              <input type="hidden" name="pencil-stash" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Pencil Stash</div>
          </div>
          <div id="nine" class="beard">
            <div class="icon">
              <div class="overlay"></div>
              <div class="count"></div>
              <input type="hidden" name="pencil-stash" value="0" />
              <div class="reset">&times;</div>
            </div>
            <div class="name">Pencil Stash</div>
          </div>
        </div>
        <input type="submit" class="submit" value="Report these beards" />
      </form>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script type="text/javascript" src="app.js"></script>

