body {
  color: #404040;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:0;
  padding: 0;
  background: black;
}

h1 { display: none; }
h2 { margin: 5px 0; }

.container {
  width:280px;
  padding: 5px 20px;
  margin-left:auto;
  margin-right:auto;
  background: white;
}

/* Yep it's a clearfix */
#beards:before, #beards:after { content: ""; display: table; }
#beards:after { clear: both; }
#beards { *zoom: 1; }

.beard {
  float:left;
  width: 93px;
  text-align: center;
  margin-top: 10px;
}
.beard .icon {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: url(images/beards.png) top left no-repeat;
  background-size: 160px 80px;
}

.beard.second .icon { background-position-x: right; }
.beard .name { font-size: 12px; }

/*
Badge inspiration:
https://github.com/WebInterfaceLab/Snippets/tree/master/4-menu-notifications/
*/
.reset, .count {
  position: absolute;
  display: none;
  top: -9px;
  line-height: 15px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  z-index: 1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
}
.reset {
  right: -9px;
  height: 26px;
  padding: 11px 10px 0 11px;
  font-family: Arial, sans-serif;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  border-color: #fa5a35;
  background-color: #fa623f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc9f8a), color-stop(100%, #fa623f));
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -ms-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(top, #fc9f8a, #fa623f);
}
.count {
  font-weight: bold;
  left: -9px;
  height: 27px;
  padding: 9px 12px 0 11px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  border-color: #59ad33;
  background-color: #77cc51;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5dd8c), color-stop(100%, #77cc51));
  background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -ms-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: linear-gradient(top, #a5dd8c, #77cc51);
}
.overlay {
  display: none;
  width: 80px;
  height: 80px;
  background: white;
  opacity: 0.6;
}

.counted .count { display: block; }
.counted .reset { display: block; }
.counted .overlay { display: block; }

.submit {
  margin: 20px 0;
  background: black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
}
