body {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  /* CC BY-ND: http://www.flickr.com/photos/mustafakhayat/6276850011/ */
  background: #000000 url(images/barber.jpg) center top no-repeat;
  background-size: 535px 490px;
  background-attachment:fixed;
}

h1 { display: none; }
h2 {
  margin: 5px 0;
  text-align: center;
  /*color: #FFE400;*/
}
.web-app h2 {
  margin: 10px 0 15px 0;
}

h2.highlight {
  background: transparent url(images/line.png) center 14px no-repeat;
}

.container {
  width:280px;
  padding: 0px 20px;
  margin-left:auto;
  margin-right:auto;
}
.web-app .container {
  padding: 5px 20px;
}

.beard {
  float:left;
  width: 80px;
  text-align: center;
  margin-left: 20px;
}
.beard .name {
  line-height: 10px;
  padding: 0 0 5px;
  font-size: 11px;
  font-family: Times New Roman;
  text-transform: none;
}
.web-app .beard .name {
  padding: 0 0 10px;
}

.beard .icon {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  /* Based on http://www.shutterstock.com/pic-82772641/stock-vector-illustration-with-men-beard-collection-isolated-on-grey-background.html */
  background: rgba(0,0,0, 0.3) url(images/all-the-beards.png) top left no-repeat;
  background-size: 720px 160px;
}

.beard.counted .icon {
  background: rgba(0,0,0, 0.7) url(images/all-the-beards.png) bottom left no-repeat;
  background-size: 720px 160px;
}

/*
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .beard .icon {
    background: rgba(0,0,0, 0.3) url(images/all-the-beards.png) top left no-repeat;
    background-size: 720px 160px;
  }
  .beard.counted .icon {
    background: rgba(0,0,0, 1) url(images/all-the-beards.png) bottom left no-repeat;
    background-size: 720px 160px;
  }
}
*/

#one.beard .icon { background-position: 0px top; }
#one.beard.counted .icon { background-position: 0px bottom; }
#two.beard .icon { background-position: -80px top; }
#two.beard.counted .icon { background-position: -80px bottom; }
#three.beard .icon { background-position: -160px top; }
#three.beard.counted .icon { background-position: -160px bottom; }
#four.beard .icon { background-position: -240px top; }
#four.beard.counted .icon { background-position: -240px bottom; }
#five.beard .icon { background-position: -320px top; }
#five.beard.counted .icon { background-position: -320px bottom; }
#six.beard .icon { background-position: -400px top; }
#six.beard.counted .icon { background-position: -400px bottom; }
#seven.beard .icon { background-position: -480px top; }
#seven.beard.counted .icon { background-position: -480px bottom; }
#eight.beard .icon { background-position: -560px top; }
#eight.beard.counted .icon { background-position: -560px bottom; }
#nine.beard .icon { background-position: -640px top; }
#nine.beard.counted .icon { background-position: -640px bottom; }

.beard.first { margin-left: 0; }
.beard .name { font-size: 12px; }

/* Badge inspiration: https://github.com/WebInterfaceLab/Snippets/tree/master/4-menu-notifications/ */
.reset, .count {
  position: absolute;
  display: none;
  top: -9px;
  line-height: 15px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  z-index: 1;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
}
.reset {
  right: -9px;
  height: 26px;
  padding: 11px 10px 0 11px;
  font-family: Arial, sans-serif;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  border-color: #fa5a35;
  background-color: #fa623f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc9f8a), color-stop(100%, #fa623f));
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -ms-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(top, #fc9f8a, #fa623f);
}
.count {
  font-weight: bold;
  left: -9px;
  height: 27px;
  padding: 9px 12px 0 11px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  border-color: #59ad33;
  background-color: #77cc51;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5dd8c), color-stop(100%, #77cc51));
  background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -ms-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: linear-gradient(top, #a5dd8c, #77cc51);
}

.counted .count { display: block; }
.counted .reset { display: block; }

.submit {
  margin: 20px 0;
  background: rgba(0,0,0, 0.3);
  /*border-radius: 10px;*/
  border-radius: 0;
  border: 1px solid #FFE400;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
  -webkit-appearance: none;
  font-size: 18px;
}

#map {
  background: transparent url(images/map.png) top left no-repeat;
  background-size: 280px 280px;
  width: 280px;
  height: 200px;
  position: relative;
  /*border-radius: 10px;*/
  /*border: 1px solid #fff;*/
}

.marker {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background: #FFE400;
  /* opacity: 0.5; */
  /*
  box-shadow: 1px 1px 3px #000;
  */
}
.marker.highlight {
  background: red;
  z-index: 1;
}
/*
.marker.highlight .pulse {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -9px;
  left: -9px;
  border: 1px solid #000;
  border-radius: 50px;
  box-shadow: 0 0 5px #ccc;

  /* Set up animation
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;

  /* Final state
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  transform: scale(2.5);
  opacity: 0;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.8;
    }
    80% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }
}
*/

@-webkit-keyframes previous-reveal {
  0%  { opacity: 1; }
  100% { opacity: 0; }
}

#previous, #next {
  width: 100px;
  height: 150px;
  background: rgba(100,0,0, 0.5);
  position: absolute;
  /*-webkit-animation: previous-reveal 2s 1 ease-in-out;*/
  opacity: 0;
}
#previous {
  top: 0;
  left: 0;
}
#next {
  top: 0;
  right: 0;
}

#sightings {
  /*height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* Woo! */
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  background: rgba(0,0,0, 0.5);
  margin-bottom: 10px;
  margin-top: 10px;
}
.wrap { /* width: 5600px; /* 20 * 280px */ }
.sighting {
  /*margin: 15px 0;*/
  width: 280px;
  height: 100px;
  /*display: inline-block;*/
}
.sighting.highlight {
  background: #000;
}
.sighting .beard {
  float: none;
  display: inline-block;
  width: 40px;
  margin-left: 11px;
}
.sighting .icon {
  width: 40px;
  height: 40px;
  background-size: 360px 80px;
  background-color: #000;
}
.sighting.highlight .icon {
  background-position-y: bottom;
}
.sighting .count {
  display: block;
  left: -11px;
  height: 17px;
  padding: 5px 8px 0 7px;
  line-height: 8px;
  font-size: 14px;
  top: -7px;
}

.flexslider {
  background: transparent !important;
  border: 0 !important;
}
.flex-direction-nav li a { background: red !important; }
